html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
}
.hide {
  display: none;
}
.display {
  display: block;
}
header {
  height: 70px;
  background: #000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

main {
  margin-top: 70px;
}

.logo {
  object-fit: contain;
}

.nav {
  display: none;
  gap: 10px;
}
.nav li {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
}
.nav li:hover {
  background-color: #f3f3f3;
}
.nav li a {
  color: #f3f3f3;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
}
.nav li:hover a {
  color: #111 !important;
}
.nav-mobile {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #111;
  width: 100%;
  margin: 0 auto;
  min-height: max-content;
}
.nav-mobile li {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}
.nav-mobile li a {
  color: #f3f3f3;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
}
.donate {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.lg-donate {
  display: none;
}

main {
  width: 100%;
  background-color: #f3f3f3;
  padding: 7px 4%;
}

#About,
#Event,
#Partners,
#footer {
  padding: 10px 1%;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-content .img-con {
  width: 200px;
  height: 150px;
  display: none;
}
.Event-content,
.Partners-content {
  width: 100%;
}
.about-text {
  width: 95%;
  text-align: justify;
  line-height: 1.5;
  font-size: 17px;
  padding: 10px 0;
  font-family: "Lato", "san serif";
  margin: 0 auto;
}

.about-bold {
  font-weight: 700;
  margin-bottom: 10px;
}
#Event {
  background-color: #fff;
}
.Event-content,
.Partners-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.Event-container,
.Partners-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.event-box {
  padding: 15px 5px;
  background-color: #f3f3f3;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
  padding: 15px;
}
.event-box h2 {
  font-size: 18px;
  text-align: left;
}
.event-box p {
  margin-top: 15px;
  text-align: left;
  font-size: 17px;
  line-height: 1.4;
}
.event-box:hover {
  background-color: red;
  color: #f3f3f3;
}
.Partners-content {
  flex-direction: column;
  width: 100%;
}
.Partner-donate {
  margin-bottom: 20px;
}
.Partners-container {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Partners-box {
  padding: 10px;
  background-color: #fff;
  width: 30%;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.Partners-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-logo-con {
  margin-top: 30px;
  height: max-content;
  display: flex;
  align-items: center;
}
.btn-logo-con .img-con {
  height: 100px;
  width: 174px;
  overflow: hidden;
}
.img-con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.icon {
  color: red;
}

#footer {
  background-color: #111;
  color: #fff;
  padding: 10px 5%;
}
#footer .section-text {
  color: #fff;
}
.Contact-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icon-container {
  margin-top: 15px;
}

/* media query */
@media screen and (min-width: 768px) {
  header {
    height: 70px;
    padding: 5px 5%;
    display: flex;
  }
  .nav {
    display: flex;
  }

  .donate {
    padding: 10px 20px;
    font-size: 18px;
  }
  .bar,
  .close {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .lg-donate {
    display: inline-block;
  }
  main {
    padding-right: 4%;
    padding-left: 4%;
  }
  #About,
  #Event,
  #Partners {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .about-text {
    font-size: 20px;
    width: 50%;
  }
  .about-content {
    gap: 20%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .about-content .img-con {
    width: 200px;
    height: 150px;
  }
  .Event-content,
  .Partners-content {
    width: 100%;
  }

  .Partners-container {
    width: 80%;
    gap: 30px;
  }
  .Partners-box {
    width: 18%;
    height: 150px;
  }
  .Event-container {
    width: 70%;
    gap: 30px 10px;
  }
  .event-box {
    width: 30%;
    padding: 15px 15px;
  }
  .event-box h2 {
    font-size: 20px;
    text-align: left;
  }
  .event-box p {
    margin-top: 15px;
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
  }
}
